
.List {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 120px);
}

.List::-webkit-scrollbar {
  width: 10px;
}

.List::-webkit-scrollbar-track {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.List::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.List::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

.List::-webkit-scrollbar-thumb:active {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

.EntryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #343e4f;
  width: 90%;
  margin-top: 5px;
  min-height: 50px;
  font-size: 12px;
  cursor: default;
}

.EntryContainer:hover:not(:first-child) {
  background: #ffffff20;
}

.EntryContainer:first-child {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  border: #202124 solid 5px;
}

.portion {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.Timestamp {
  
}

.From {
  cursor: pointer;
  color: #61dafb;
}

.To {
  cursor: pointer;
  color: #61dafb;
}

.Value {
  display: flex;
}

.Confirmations {

}

.Hash {

}
