html {
  overflow-y: hidden;
}

.App {
  text-align: center;
  background-color: #202124;
}

.SearchInput {
  background-color: #282c34;
  height: 25px;
  width: 325px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid;
  border-color: #ffffff;
  color: #fff;
  caret-color: #68b0e0;
}

.SearchInput:focus {
  outline: none;
  border-color: #3498db;
}

.SearchInput:focus-visible {
  outline: none;
  border-color: #3498db;
}

.SearchInput::-moz-selection {
  background: #3498db;
}

.SearchInput::selection {
  background: #3498db;
}

.SearchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.SearchButtonContainer {
  margin: 10px;
  width: 70px;
}

.SearchButtonTextContainer {
  cursor: pointer;
  font-size: 14px;
  padding: 4px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: solid #fff 1px;
}

.SearchButtonTextContainer:hover {
  background: #ffffff20;
}

.SearchButtonTextContainer:active {
  background: #ffffffe0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  min-height: 110px;
  border-bottom: 1px solid #202124;
}

.Acknowlagement {
  color: #fff;
  font-size: 12px;
  position: fixed;
  top: 5px;
  cursor: default;
}

.PagingContainer {
  display: flex;
  position: absolute;
  top: 0px;
  right: 25px;
  justify-content: space-between;
  width: 110px;
  align-items: center;
  font-size: 14px;
  cursor: default;
}

